.movieCardStyle {
    width: 400px;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 10px;
  };
  
.movieImageStyle  {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
  };
  
.movieTitleStyle {
    margin: 1em 0;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
  };
  
.movieDetailsStyle  {
    font-size: 1em;
    color: #333;
    margin: 1em 0;
    text-align: center;
  };